<ion-content class="metric-detail-popup-container ion-padding">
  <div class="close-btn ion-justify-content-end">
    <ion-button shape="round" fill="clear" color="ocean" (click)="dismissModal()">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
  </div>
  <div class="metric-details">
    <div class="title-status-container">
      <p class="heading-4 title">{{data.name}}</p>
      <p class="status">{{data.status}}</p>
    </div>

    <p><strong>Description: </strong> {{ data.description }}</p>
    <p><strong>Aggregation Technique: </strong>{{ data.aggregation }}</p>
    <p><strong>Public: </strong>{{ data.isPublic }}</p>
    {{data.requirement}}
  </div>
</ion-content>
