<ion-content class="metrics-dashboard ion-padding">
  <div class="title-container ion-justify-content-between">
    <h1 class="heading-3 black">Metrics Dashboard</h1>
    <div>
      <ion-button id="add-new" color="ocean" trigger-action="click">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </div>
  </div>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3" *ngFor="let metric of metrics; let i = index">
        <app-metric-card [data]="metric" [index]="i" [from]="'institution'"></app-metric-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-popover trigger="add-new" triggerAction="click" [dismissOnSelect]="true">
  <ng-template>
    <ion-content>
      <ion-item [button]="true" [detail]="false" (click)="addNew()">Create New Metric</ion-item>
      <ion-item [button]="true" [detail]="false" (click)="goToLibrary()">Get From Library</ion-item>
    </ion-content>
  </ng-template>
</ion-popover>