<ion-card class="metrics-card" (click)="from === 'library' ? '' : openModal()"
  [button]="from === 'library' ? false : true">
  <ng-container [ngSwitch]="from">
    <ion-card-content *ngSwitchCase="'experience'">
      <ng-container *ngTemplateOutlet="experienceCardContent"></ng-container>
    </ion-card-content>
    <ion-card-content *ngSwitchCase="'institution'">
      <ng-container *ngTemplateOutlet="institueCardContent"></ng-container>
    </ion-card-content>
    <ion-card-content *ngSwitchCase="'library'">
      <ng-container *ngTemplateOutlet="libraryCardContent"></ng-container>
    </ion-card-content>
    <ion-card-content *ngSwitchDefault>
      <ng-container *ngTemplateOutlet="experienceCardContent"></ng-container>
    </ion-card-content>
  </ng-container>
</ion-card>

<!-- Library Page Card Content -->
<ng-template #libraryCardContent>
  <div class="title-status-container ion-justify-content-between">
    <div class="title">
      <p class="card-title black">{{ data.name }}</p>
    </div>
  </div>
  <div class="description space">
    <p class="black">{{ data.description }}</p>
  </div>
  <div class="description space">
    <p class="black"><span>Aggregation: </span>{{ data.aggregation }}</p>
  </div>
  <div class="description space">
    <p class="black"><span>Filter Role: </span>{{ data.filterRole.join(', ') | titlecase }}</p>
  </div>
  <div class="description space">
    <p class="black"><span>Filter Status: </span>{{ data.filterStatus.join(', ') | titlecase }}</p>
  </div>
  <div class="useBtn-container">
    <ng-container *ngIf="data.requirement; else elseBlock">
      <div class="matric-status-chip active">
        <p>Used</p>
      </div>
    </ng-container>
    <ng-template #elseBlock>
      <ion-button color="ocean" (click)="useMetric()">
        Use Metric
      </ion-button>
    </ng-template>
  </div>
</ng-template>

<!-- Institution Page Card Content -->
<ng-template #institueCardContent>
  <div class="title-status-container ion-justify-content-between">
    <div class="title">
      <p class="card-title black">{{ data.name }}</p>
    </div>
  </div>
  <div class="chip-container">
    <div class="requirement-label" [class]="getRequirementIndicatorColor()">
      <p class="body-2">{{ data.requirement | noSymbols }}</p>
    </div>
    <div class="matric-status-chip" [class]="data.status">
      <p>{{ data.status | titlecase }}</p>
    </div>
  </div>
  <div class="description short">
    <p class="black">{{ data.description }}</p>
  </div>
</ng-template>

<!-- Experience Page Card Content -->
<ng-template #experienceCardContent>
  <div class="title-status-container ion-justify-content-between">
    <div class="title">
      <p class="card-title black">{{ data.name }}</p>
    </div>
  </div>
  <div class="chip-container">
    <div class="requirement-label" [class]="getRequirementIndicatorColor()">
      <p class="body-2">{{ data.requirement | noSymbols }}</p>
    </div>
  </div>
  <div class="chip-container left">
    <div class="matric-status-chip" [class]="data.status">
      <p>{{ data.status | titlecase }}</p>
    </div>
    <div class="config-status-chip" [class]="this.data.dataSourceId ? 'config' : 'not'">
      <p>{{ this.data.dataSourceId ? 'Configured' : 'Not Configured' }}</p>
    </div>
  </div>
  <ng-container *ngIf="data.lastRecord">
    <div class="metric-record-data-container">
      <p class="record-value ocean-100">{{ data.lastRecord.value }} / {{ data.maxValue }} <span>{{ calculatePercentage() }}</span></p>
      <p class="record-count black">{{ data.lastRecord.count }} data points</p>
    </div>
  </ng-container>
  <div class="description short">
    <p class="black">{{ data.description }}</p>
  </div>
</ng-template>