<ion-card class="metrics-card" (click)="openModal()" [button]="true">
  <ion-card-content>
    <div class="title-status-container ion-justify-content-between">
      <div class="title">
        <p class="card-title black">{{ data.name }}</p>
      </div>
      <ng-container [ngSwitch]="from">
        <div *ngSwitchCase="'experience'" class="config-status" [class]="this.data.dataSourceId ? 'config' : 'not'">
          <p>{{ this.data.dataSourceId ? 'Configured' : 'Not Configured' }}</p>
        </div>
        <div *ngSwitchCase="'institution'" class="status" [class]="data.status">
          <p>{{ data.status | titlecase }}</p>
        </div>
        <div *ngSwitchDefault class="config-status" [class]="this.data.dataSourceId ? 'config' : 'not'">
          <p>{{ this.data.dataSourceId ? 'Configured' : 'Not Configured' }}</p>
        </div>
      </ng-container>
    </div>
    <div class="requirement" [class]="getRequirementIndicatorColor()">
      <p class="body-2">{{ data.requirement | noSymbols }}</p>
    </div>
    <div class="description">
      <p class="black">{{ data.description }}</p>
    </div>
  </ion-card-content>
</ion-card>