<ion-list>
    <ion-item>
        <div class="requirement-chip not_required">
            <ion-icon name="ban-outline"></ion-icon>
        </div>
        <ion-label>Not Required</ion-label>
    </ion-item>
    <ion-item>
        <div class="requirement-chip required">
            <ion-icon name="star-outline"></ion-icon>
        </div>
        <ion-label>Required</ion-label>
    </ion-item>
    <ion-item>
        <div class="requirement-chip recommended">
            <ion-icon name="happy-outline"></ion-icon>
        </div>
        <ion-label>Recommended</ion-label>
    </ion-item>
    <ion-item>
        <div class="matric-status-chip inactive">
            <ion-icon name="flash-off-outline"></ion-icon>
        </div>
        <ion-label>Inactive</ion-label>
    </ion-item>
    <ion-item>
        <div class="matric-status-chip active">
            <ion-icon name="flash-outline"></ion-icon>
        </div>
        <ion-label>Active</ion-label>
    </ion-item>
    <ion-item>
        <div class="matric-status-chip archived">
            <ion-icon name="folder-outline"></ion-icon>
        </div>
        <ion-label>Archived</ion-label>
    </ion-item>
    <ion-item>
        <div class="config-status-chip configured">
            <ion-icon name="settings-outline"></ion-icon>
        </div>
        <ion-label>Configured</ion-label>
    </ion-item>
    <ion-item>
        <div class="config-status-chip not_configured">
            <ion-icon name="warning-outline"></ion-icon>
        </div>
        <ion-label>Not Configured</ion-label>
    </ion-item>
</ion-list>