:root {
  .toolbar-content {
    display: inline-flex;

    & > * {
      justify-content: center;
    }
  }
}

.metric-detail-container {
  .title {
    margin: 0;
  }
  p {
    span {
      font-weight: var(--font-weight-medium) !important;
    }
  }
}

ion-footer {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
ion-header {
  box-shadow: 0 -2px 4px -1px rgba(0, 0, 0, 0.2), 0 -3px 5px 0 rgba(0, 0, 0, 0.14), 0 -1px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.chip-container {
  margin-top: 0;
  margin-bottom: 0;
}
